<div>
    <p></p>
    <h3>Корзина</h3>
    <table class="table table-hover">
        <tr>
            <td>Название товара</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        <tbody>
        <tr ng-repeat="item in cart.items">
            <td>{{item.productTitle}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + item.price}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Итого</td>
            <td>{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
    <p>
        <button class="btn btn-secondary" ng-click="clearCart()">Очистить корзину</button>
    </p>

    <p></p>
    <h3>Детали заказа</h3>
    <form novalidate>
        <input class="form-control" type="text" placeholder="Номер телефона получателя" ng-model="orderDetails.phone">
        <p></p>
        <input class="form-control" type="text" placeholder="Адрес доставки" ng-model="orderDetails.addressLine1">
        <p></p>
        <input class="form-control" type="text" placeholder="Адрес доставки" ng-model="orderDetails.addressLine2">
        <p></p>
        <input class="form-control" type="text" placeholder="Административный окуруг (область)" ng-model="orderDetails.adminArea1">
        <p></p>
        <input class="form-control" type="text" placeholder="Административный окуруг (область)" ng-model="orderDetails.adminArea2">
        <p></p>
        <input class="form-control" type="text" placeholder="Индекс" ng-model="orderDetails.postalCode">
        <p></p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01" ng-model="orderDetails.countryCode">Страна платежа</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected value="RU">Россия</option>
                <option value="US">США</option>
                <option value="GB">Великобритания</option>
            </select>
        </div>
    </form>

    <button class="btn btn-primary" ng-click="checkOut()" ng-show="isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
    <button class="btn btn-secondary" ng-click="disabledCheckOut()" ng-show="!isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
</div>